.start-screen {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

    img {
        height: 100vh;
        width: 100vw;
        object-fit: contain;

    }

    @media (max-width: 960px) {
        overflow: hidden;
    }

    img{
        height: 100vh;
    }
}


.start-screen-box {
    position: absolute;

    button {
        width: 200px;
        height: 60px;
        border: unset;
        border-radius: 10px;
        font-size: 24px;
        cursor: pointer;
        border: 1px solid red;
        background: black;
        color: white;
    }

}